# Ignorar archivos del sistema macOS
.DS_Store
.AppleDouble
.LSOverride

# Ignorar archivos en la carpeta /data/Anomaly-Detection-Dataset/
data/Anomaly-Detection-Dataset/*

# Ignorar archivo /data/Anomaly-Detection-Dataset.zip
data/Anomaly-Detection-Dataset.zip

# Ignora archivos en la carpeta data/train, data/test, data/val
data/train/*
data/test/*
data/valid/*

# Ignorar todos los archivos que comiencen con ._
._*

# Ignorar archivo Anomaly-Detection-Dataset.zip
Anomaly-Detection-Dataset.zip

# Ignorar archivos __pycache__
__pycache__/